@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #757575;
  border-radius: 5px;
  outline: 1px solid white;
}
::-webkit-scrollbar-thumb {
  background: #E9E1D0;
  border-radius: 10px;
  border: 1px solid #757575;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'BubblegumSans-Regular';
  src: url('./fonts/BubblegumSans-Regular.ttf'); 
 }

/* In your css file where you want to use the font */
* { 
 font-family: BubblegumSans-Regular, sans-serif;
 font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}